@font-face {
    font-family: Titan One;
    src: url(font/TitanOne-Regular.ttf);
}

@font-face {
    font-family: Work SansB;
    src: url(font/WorkSans-Bold.ttf);
}

@font-face {
    font-family: Work SansR;
    src: url(font/WorkSans-Regular.ttf);
}

@font-face {
    font-family: Work SansM;
    src: url(font/WorkSans-Medium.ttf);
}

:root{
    /*Hintergrundfarbe für ganzes Dokument*/
    --background-color: #D9D9D9;
    --background-gradient: linear-gradient(to bottom, rgba(194, 255, 254, 0.41), rgba(0, 131, 128, 0.41));

    /*Navbar-Farben*/
    --navbar-color: #FFF1F5;
    --navbar-highlights-color: rgba(0, 209, 204, 0.72);
    --navbar-highlight-border-color: #004F4D;

    /*Inhalte der Seite*/
    --border-color: #004F4d;
    --untertitel-color: #00908D;
    --inhalt-hintergrund-color: white;

    /*Hintergrund der User-Icons am Beginn und Ende der Seite*/
    --background-userIcon: #FFC2E0;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Titan One";
    font-size: 70px;
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Work SansM";
    font-size: 20px;
}

h3 {
    margin: 0 auto -30px auto;
    z-index: 10;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: var(--untertitel-color);
    color: white;
    font-family: "Work SansM";
    font-size: 1.5em;
    border: 3px solid var(--border-color);
    text-align: center;
}

main p {
    font-family: "Work SansR";
    background-color: white;
    padding: 50px;
    border: 3px solid var(--border-color);
    border-radius: 35px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding-bottom: 150px;
    background: var(--background-gradient)
                var(--background-color);
}

.hero {
    background-image:
            linear-gradient(to bottom, rgba(194, 255, 254, 0.41), rgba(0, 131, 128, 0.41)),
                        url("img/heroBackground.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 0 150px 0;
    padding: 0;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
    padding: 200px 50px;
}

#team {
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#teamImage {
    max-width: 50%;
    height: auto;
    border-radius: 35px;
}

.contentInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#aboutCbImage {
    width: 30%;
    height: auto;
    border-radius: 35px;
}

nav {
    border: 2px solid black;
    position: fixed;
    top: 0;
    background-color: var(--navbar-color);
    z-index: 1000;
    font-family: "Work SansB";
    font-size: 1.2em;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.navLi {
    list-style: none;
    margin: auto;
    padding: 10px 20px;
    border-radius: 35px;
    width: fit-content;
}

.desktopNav a {
    text-decoration: none;
    color: inherit;
}

.navHover:hover {
    background-color: rgba(0, 209, 204, 0.72);
    outline: 3px solid black;
    color: white;
}

.wrapper {
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.innerWrapperTop {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0;
}

.innerWrapperBottom {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}

.innerWrapperTop div, .innerWrapperBottom div {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.5px;
    background-color: white;
}

#con {
    border-radius: 20px;
    height: 150px;
    background-color: #008380;
    border: 3px solid #004F4D;
    color: white;
}

#su {
    border-radius: 80px;
    height: 200px;
    background-color: #a8eae8;
    border: 3px solid #004F4D;
}

#mer {
    border-radius: 20px;
    height: 100px;
    background-color: #00d0cb;
    border: 3px solid #004F4D;
    color: black;
}

#be {
    border-radius: 80px;
    height: 150px;
    background-color: #a8eae8;
    border: 3px solid #004F4D;
}

#ha {
    border-radius: 10px;
    height: 80px;
    background-color: #5cfffc;
    border: 3px solid #004F4D;
}

#vior {
    border-radius: 20px;
    height: 120px;
    background-color: #00908D;
    border: 3px solid #004F4D;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.pills {
    border: 3px #004F4D solid;
    color: white;
    border-radius: 35px;
    position: absolute;
    padding: 15px 50px;
    background-color: rgba(0, 209, 204, 0.4);
    transition: transform 0.5s;
}

.pills::before {
    content: "";
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #004F4D;
}

.pills:hover {
    transform: scale(1.05);
}

#uxDesign {
    bottom: 50px;
    left: 400px;
}

#brandLoyalty {
    top: 200px;
    right: 100px;
}

#storytelling {
    margin: auto;
    right: 50px;
}

#productDesign {
    bottom: 200px;
    right: 100px;
}

#psychologicalFactors {
    bottom: 50px;
    right: 400px;
}

#buyingHabits {
    bottom: 200px;
    left: 100px;
}

#functionalDesign {
    margin: auto;
    left: 50px;
}

#gamification {
    top: 200px;
    left: 100px;
}

footer {
    background-color: var(--navbar-color);
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Work SansR';
    font-size: 14px;
    border-top: 2px solid black;
}