/* TODO : FONTS */

@font-face {
    font-family: Titan One;
    src: url(../font/TitanOne-Regular.ttf);
}

@font-face {
    font-family: Work SansB;
    src: url(../font/WorkSans-Bold.ttf);
}

@font-face {
    font-family: Work SansR;
    src: url(../font/WorkSans-Regular.ttf);
}

@font-face {
    font-family: Work SansM;
    src: url(../font/WorkSans-Medium.ttf);
}

/* TODO: FARBEN */


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    font-family: "Work SansR";
}

h1 {
    font-family: "Titan One";
    font-size: 2.7em;
    text-align: center;
    border: 2px solid black;
    width: 90vw;
    margin: auto;
    padding: 50px;
    border-radius: 35px;
    background-color: white;
}

.h1Wrapper {
    position: relative;
    display: inline-block;
    margin: auto;
    padding-bottom: 100px; /* Platz für das angedockte Feld */
}

/* Das Icon bei der Überschrift */
.h1Wrapper::before {
    content: "🎮";
    font-size: 48px;
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;         /* vertikal zentrieren */
    text-align: center;        /* horizontal zentrieren */
    position: relative;
    top: 50px;
    left: -30px;
    background-color: darkgrey;
    border: 2px solid black;
    border-radius: 50%;
}

nav {
    border: 2px solid black;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
    font-family: "Work SansB";
    font-size: 1.2em;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

li p {
    font-family: "Work SansB";
    font-weight: bold;
    font-size: 2.4em;
}

li {
    list-style: none;
    margin: auto;
    padding: 10px;
    border-radius: 35px;
}


.desktopNav a {
    text-decoration: none;
    color: inherit;
}

.navLi:hover {
    background-color: darkgrey;
    outline: 2px solid black;
    color: white;
}

h2{
    font-family: "Work SansM";
    font-size: 1.5em;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: dimgrey;
    color: white;
}

main {
    padding: 120px 50px;
}

/*Styling für mittige Überschrift (z.b. bei Einleitung/Vergleich */
.ueberschriftMittig{
    margin: 0 auto -30px auto;
    z-index: 1;
    position: relative;
}

/*Styling für linksbündige Überschrift (z.b. bei REFERENCES / TITEL + Inhalt */
.ueberschriftLinks{
    margin: 0 0 -30px 0;
    z-index: 1;
    position: relative;
}

.basedOn {
    position: absolute;
    bottom: 10px;
    right: -25px;
    width: 750px;
    background-color: white;
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 35px;
    font-size: 0.9em;
}

.basedOn::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -15px;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: lightgrey;
    /* um ein Bild einzufügen
    background-image: url(pfad/zum/bild.png);
    background-size: cover;
    background-position: center;
     */
}

/*Todo: Styling für Baustein: VERGLEICH*/

.textFeldVergleichWrapper {
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: relative;
}

.textfeldVergleich {
    width: 46.5vw;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 35px;
}

/*Todo: Styling für Baustein: EINLEITUNG*/

.textFeldEinleitungWrapper {
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;

}

.textFeldEinleitung {
    width: 100vw;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 35px;
}

/*Todo:Styling für Baustein: References + Name Ersteller*/

.textFeldConclusionWrapper {
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;

}

.textFeldConclusion {
    width: 100vw;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 35px;
}